<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="icon" href="pics/favicon.ico" type="image/x-icon" />
		</head>
		<body>
			<a id="logo" href="http://www.protestantsekerk.nl"><img alt="PKN" src="pics/logo.png" style="position: fixed; top: 0; left: 0;" /></a>
			<nav>
	    		<ul>
	        		<li><a href="http://lrp-netwerk.pkn.nl/home-lrp">LRP-netwerk</a></li>
				<li><a href="/about">Lokaal beheerder</a></li>
	        		<li><a href="/about">Ledenadministrateur</a></li>
	        		<li><a href="/cv">Bijdragenadministrateur</a></li>
	        		<li><a href="/blog">Pastoraal werker</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#108;&#114;&#112;&#45;&#104;&#101;&#108;&#112;&#64;&#112;&#114;&#111;&#116;&#101;&#115;&#116;&#97;&#110;&#116;&#115;&#101;&#107;&#101;&#114;&#107;&#46;&#110;&#108;">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
