<!DOCTYPE html>
	<html>
		<head>	
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
			
			<title>{{ page.title }}</title>
			<link rel="icon" href="pics/favicon.ico" type="image/x-icon" />

			<!-- BOOTSTRAP -->
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
			
			<!-- offcanvas -->
			<link rel="stylesheet" type="text/css" href="/css/offcanvas.css">
			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav class="navbar navbar-fixed-top navbar-inverse">
			  <div class="container">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="/">LRP help</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
				  <ul class="nav navbar-nav">
					<!-- let li have id same as folder in href to add class 'active' when opened -->
					<li id="navHome"><a href="/">Home</a></li>
					<li id="LB"><a href="/LB/">Lokaal Beheerder</a></li>
					<li id="LA"><a href="/LA/">Ledenadministrateur</a></li>
					<li id="BA"><a href="/BA/">Bijdrageadministrateur</a></li>
					<li id="PW"><a href="/PW/">Pastoraal werker</a></li>
					<li><a href="http://lrp-netwerk.pkn.nl/home-lrp/contact">Contact</a></li>
				  </ul>
				</div><!-- /.nav-collapse -->
			  </div><!-- /.container -->
			</nav><!-- /.navbar -->

			<div class="container">
				<div class="row row-offcanvas row-offcanvas-right">
				    <div class="col-xs-12 col-sm-9">
						<p class="pull-right visible-xs">
							<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Inhoud</button>
						</p>
					{{ content }}
					</div><!--/.col-xs-12 col-sm-9-->
					
					<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
						<div id="toc" class="list-group">
						</div><!--/#toc-->
					</div><!--/.sidebar-offcanvas-->
				</div><!--/row-->
			</div><!-- /.container -->

			<!-- Placed at the end of the document so the pages load faster -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
			
			<!-- Latest compiled and minified bootstrap JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
			
			<!-- https://github.com/ghiculescu/jekyll-table-of-contents -->
			<script src="/js/toc.js"></script>
			
			<!-- our own custom js -->
			<script src="/js/main.js"></script>
		</body>
	</html>
