<!DOCTYPE html>
	<html>
		<head>	
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self'">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
			
			<title>{{ page.title }}</title>
			<link rel="icon" href="pics/favicon.ico" type="image/x-icon" />

			<!-- BOOTSTRAP -->
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

			<!-- Optional theme -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav class="navbar navbar-fixed-top navbar-inverse">
			  <div class="container">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="#">Project name</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
				  <ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#LB">LB</a></li>
					<li><a href="docs/LA.md">LA</a></li>
					<li><a href="#BA">BA</a></li>
					<li><a href="#PW">PW</a></li>
					<li><a href="http://lrp-netwerk.pkn.nl/home-lrp">LRP-netwerk</a></li>
					<li><a href="#contact">Contact</a></li>
				  </ul>
				</div><!-- /.nav-collapse -->
			  </div><!-- /.container -->
			</nav><!-- /.navbar -->

			<div class="container">
				<div class="row row-offcanvas row-offcanvas-right">
				    <div class="col-xs-12 col-sm-9">
						<p class="pull-right visible-xs">
							<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Inhoud</button>
						</p>
					{{ content }}
					</div><!--/.col-xs-12 col-sm-9-->
					
					<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
						<div id="toc" class="list-group">
						</div><!--/#toc-->
					</div><!--/.sidebar-offcanvas-->
				</div><!--/row-->
			
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#108;&#114;&#112;&#45;&#104;&#101;&#108;&#112;&#64;&#112;&#114;&#111;&#116;&#101;&#115;&#116;&#97;&#110;&#116;&#115;&#101;&#107;&#101;&#114;&#107;&#46;&#110;&#108;">e-mail</a></li>
				</ul>
			</footer>
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
			
			<!-- Latest compiled and minified bootstrap JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
			
			<!-- https://github.com/ghiculescu/jekyll-table-of-contents -->
			<script src="js/toc.js"></script>
			<script>
				$(document).ready(function () {
					$('#toc').toc({ title: "Ga naar..." }); // generate TOC
					// START offcanvas.js
					$('[data-toggle="offcanvas"]').click(function () {  
						$('.row-offcanvas').toggleClass('active')
					}); //END offcanvas.js
				});
			</script>

		</body>
	</html>
